alembic==1.8.1
altair==4.2.2
aniso8601==9.0.1
anyio==3.6.1
asgiref==3.5.2
attrs==22.2.0
Babel==2.12.1
beautifulsoup4==4.11.1
blinker==1.5
bs4==0.0.1
cachetools==5.3.0
certifi==2022.9.14
charset-normalizer==2.1.1
ci-info==0.3.0
click==8.1.3
colorama==0.4.5
configobj==5.0.8
configparser==5.3.0
dash==2.7.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-renderer==1.9.1
dash-table==5.0.0
decorator==5.1.1
distlib==0.3.6
Django==4.1.2
dnspython==2.2.1
docutils==0.19
email-validator==1.3.0
entrypoints==0.4
et-xmlfile==1.1.0
etelemetry==0.3.0
fastapi==0.85.0
feedgenerator==2.0.0
filelock==3.8.0
Flask==2.2.2
flask-babel==3.0.1
Flask-Login==0.6.2
Flask-Mail==0.9.1
Flask-Migrate==3.1.0
Flask-MySQLdb==1.0.1
Flask-RESTful==0.3.8
Flask-SQLAlchemy==3.0.2
Flask-Table==0.5.0
Flask-WTF==1.0.1
fpdf==1.7.2
future==0.18.2
gitdb==4.0.10
GitPython==3.1.31
greenlet==1.1.3.post0
h11==0.14.0
httplib2==0.21.0
iclockhelper==0.0.4
idna==3.4
importlib-metadata==6.1.0
inflection==0.5.1
isodate==0.6.1
itsdangerous==2.1.2
Jinja2==3.1.2
jsonschema==4.17.3
looseversion==1.0.3
lxml==4.9.2
Mako==1.2.3
markdown-it-py==2.2.0
MarkupSafe==2.1.1
mdurl==0.1.2
more-itertools==9.0.0
mysql-connector-python==8.0.30
mysqlclient==2.1.1
networkx==3.0
nibabel==5.0.0
nipype==1.8.5
numpy==1.23.5
openpyxl==3.1.2
packaging==23.0
pandas==1.5.2
pathlib==1.0.1
pelican==4.8.0
Pillow==9.4.0
pipenv==2022.10.12
platformdirs==2.5.2
plotly==5.11.0
protobuf==3.20.1
prov==2.0.0
pyarrow==11.0.0
pydantic==1.10.2
pydeck==0.8.0
pydot==1.4.2
Pygments==2.14.0
Pympler==1.0.1
PyMuPDF==1.21.1
PyMySQL==1.0.2
pyparsing==3.0.9
pypdf==3.3.0
PyPDF2==3.0.1
pyrsistent==0.19.3
python-dateutil==2.8.2
python-decouple==3.8
python-dotenv==0.13.0
pytils==0.4.1
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
pyxnat==1.5
PyYAML==6.0
pyzk==0.9
Quandl==3.7.0
rdflib==6.2.0
requests==2.28.1
rich==13.3.2
scipy==1.10.0
selectors==0.0.14
semver==2.13.0
simplejson==3.17.6
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.42
sqlparse==0.4.3
starlette==0.20.4
streamlit==1.21.0
streamlit-aggrid==0.3.4.post3
streamlit-card==0.0.4
streamlit-option-menu==0.3.2
stringcase==1.2.0
tenacity==8.1.0
toml==0.10.2
toolz==0.12.0
tornado==6.2
traits==6.3.2
typing_extensions==4.4.0
tzdata==2022.4
tzlocal==4.3
Unidecode==1.3.6
urllib3==1.26.12
user-agent==0.1.10
uvicorn==0.18.3
validators==0.20.0
virtualenv==20.16.5
virtualenv-clone==0.5.7
waitress==1.4.4
watchdog==3.0.0
weblib==0.1.30
Werkzeug==2.2.2
WTForms==3.0.1
zipp==3.15.0
